# .env

# SERver
PORT=3000
NODE_ENV=development


# Database
DATABASE_URL="postgresql://postgres:admin123@localhost:5432/hmn_cooperative"

# JWT
JWT_SECRET="hmn-cooperative-super-secret-jwt-key-change-in-production"
JWT_EXPIRES_IN="7d"

# Paystack
PAYSTACK_SECRET_KEY=""
PAYSTACK_PUBLIC_KEY=""

# Email/Nodemailer
EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_USER=""
EMAIL_PASS=""