# Dependencies

node_modules/


# Environment variables -Not to be committed
.env

# Compiled output
dist/

# Prisma
prisma/migrations/dev.db

# OS files
.DS_Store
Thumbs.db


# Logs
*.log
npm-debug.log*
/src/generated/prisma
